* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region header */

header {
    background-color: var(--orange--bst_top);

}

.best_top, .container, .features {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.col {
    width: calc(100%/12*4);
    padding: 0.6rem 0;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--light-white--txt--bst_top)
}

i {
    color: var(--light-white--txt--bst_top);
    padding-left: 5px;
}

.logo {
    width: 115px;
}
/* #endregion header */

/* #region main */
.img_shop {
    background-size: cover;
    width: 100%;
}

.container > .row > .col > i {
    background-color: var(--white--sf);
    width: 25px;
    height: 25px;
    color: var(--dark-blk--txt);
    position: absolute;
    top: 10%;
    right: 0;
}

.sustainable, .sales {
    color: var(--light-white--txt--bst_top);
    position: absolute;
    bottom: 15%;
    padding: 0.2rem;
}

.sales {
    background-color: var(--red--sales);
    width: 50px;
    
}

.sustainable {
    background-color: var(--green--sost);
    width: 100px;
    left: 14%;
}

.red {
    color: var(--red--sales);
}

span {
    text-decoration: line-through;
}



/* #endregion main */

/* #region footer */
footer {
    background: var(--dark--foot);
    color: var(--light-white--txt--bst_top);
    height: 200px;
}


.col_f {
    width: calc(100%/12*6);
    margin: 1rem 0;
}

h5 {
    margin: 1rem 0;
}

h6 {
    margin: 1rem 0 0.6rem;
}
/* #endregion footer */





/* #region utilities */

:root {
    --orange--bst_top: #ff6900;
    --light-white--txt--bst_top: #fffcf9;
    --white--sf: #ffffff;
    --red--sales :#ff0000;
    --dark-blk--txt : #171513;
    --dark--foot : #1a1a1a;
    --green--sost : #028104;
}

.debug {
    border: 1px dashed;
    height: 100%;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_str {
    display: flex;
    justify-content: start;
}

.flex_end {
    display: flex;
    justify-content: end;
}

.flex_jst_st {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex_jst_end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.fix_ban{
    left: 0;
}
/* #endregion utilities */
