* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region header */

header {
    background-color: var(--orange--bst_top);

}

.best_top, .container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.col {
    width: calc(100%/12*4);
    padding: 0.6rem 0;
    position: relative;
}

a, i {
    text-decoration: none;
    color: var(--light-white--txt--bst_top)
}

.logo {
    width: 115px;
}
/* #endregion header */

/* #region main */
.img_shop {
    background-size: cover;
    width: 100%;
}

.col > i {
    background-color: var(--white--sf);
    width: 25px;
    height: 25px;
    color: var(--dark-blk--txt);
    position: absolute;
    top: 10%;
    right: 0;
}

/* .img_ho1:hover {
    background-image: url(./img/1b.webp);
}
 */


/* #endregion main */




/* utilities */

:root {
    --orange--bst_top: #ff6900;
    --light-white--txt--bst_top: #fffcf9;
    --white--sf: #ffffff;
    --red--sales :#ff0000;
    --dark-blk--txt : #171513;
    --dark--foot : #1a1a1a;
    --green--sost : #028104;
}

.debug {
    border: 1px dashed;
    height: 100%;
}

.flex_box {
    display: flex;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_end {
    display: flex;
    justify-content: end;
}